* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
}

#top-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: url('../img/space.webp');
  height: 100vh;
}

#but-on, #but-on2 {
  padding-top: 5px;
  padding-left: 5px;
}

.uk-icon {
  color: #ffffff;
}

.uk-link:hover, a:hover {
  color: #46a5dc;
}

.uk-offcanvas-bar {
  background: #44444461;
}

.quote {
  font-family: 'Roboto', sans-serif;
  color: #46a5dc;
  font-size: 0.4em;
}

.web-dev {
  color: #46a5dc;
}

.js-tilt {
  width: 200px;
  height: 200px;
}

.headur {
  font-size: 4em;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 25%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.footer {
  font-family: 'Roboto', sans-serif;
  bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .headur {
    font-size: 3em;
  }
  .quote {
    font-size: 0.50em;
  }
}
